server/docs/apidocs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://endpoint.api.tm.kravchenko.ru/"
  xmlns:ns0="http://endpoint.api.tm.kravchenko.ru/"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ns2.xsd"/>

<xs:element name="authorization" type="ns0:authorization"/>
<xs:complexType name="authorization">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "authorization".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="password" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="authorizationResponse" type="ns0:authorizationResponse"/>
<xs:complexType name="authorizationResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "authorization".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="closeSession" type="ns0:closeSession"/>
<xs:complexType name="closeSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "closeSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="closeSessionResponse" type="ns0:closeSessionResponse"/>
<xs:complexType name="closeSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "closeSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="createProject" type="ns0:createProject"/>
<xs:complexType name="createProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "createProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="createProjectResponse" type="ns0:createProjectResponse"/>
<xs:complexType name="createProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "createProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="createTask" type="ns0:createTask"/>
<xs:complexType name="createTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "createTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="projectId" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="createTaskResponse" type="ns0:createTaskResponse"/>
<xs:complexType name="createTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "createTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="editProject" type="ns0:editProject"/>
<xs:complexType name="editProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "editProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="projectId" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="editProjectResponse" type="ns0:editProjectResponse"/>
<xs:complexType name="editProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "editProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneProject" type="ns0:findOneProject"/>
<xs:complexType name="findOneProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "findOneProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="id" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneProjectResponse" type="ns0:findOneProjectResponse"/>
<xs:complexType name="findOneProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "findOneProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="projectDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneTask" type="ns0:findOneTask"/>
<xs:complexType name="findOneTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "findOneTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="id" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneTaskResponse" type="ns0:findOneTaskResponse"/>
<xs:complexType name="findOneTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "findOneTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="taskDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getAllTaskByUserId" type="ns0:getAllTaskByUserId"/>
<xs:complexType name="getAllTaskByUserId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getAllTaskByUserIdResponse" type="ns0:getAllTaskByUserIdResponse"/>
<xs:complexType name="getAllTaskByUserIdResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="taskDTO" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoHost" type="ns0:getInfoHost"/>
<xs:complexType name="getInfoHost">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getInfoHost".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoHostResponse" type="ns0:getInfoHostResponse"/>
<xs:complexType name="getInfoHostResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getInfoHost".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoPort" type="ns0:getInfoPort"/>
<xs:complexType name="getInfoPort">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getInfoPort".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoPortResponse" type="ns0:getInfoPortResponse"/>
<xs:complexType name="getInfoPortResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getInfoPort".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getListSession" type="ns0:getListSession"/>
<xs:complexType name="getListSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getListSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getListSessionResponse" type="ns0:getListSessionResponse"/>
<xs:complexType name="getListSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getListSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="session" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getUser" type="ns0:getUser"/>
<xs:complexType name="getUser">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getUserResponse" type="ns0:getUserResponse"/>
<xs:complexType name="getUserResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="user" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="logout" type="ns0:logout"/>
<xs:complexType name="logout">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "logout".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="logoutResponse" type="ns0:logoutResponse"/>
<xs:complexType name="logoutResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "logout".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="openSession" type="ns0:openSession"/>
<xs:complexType name="openSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "openSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="openSessionResponse" type="ns0:openSessionResponse"/>
<xs:complexType name="openSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "openSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="registryUser" type="ns0:registryUser"/>
<xs:complexType name="registryUser">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "registryUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="password" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="registryUserResponse" type="ns0:registryUserResponse"/>
<xs:complexType name="registryUserResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "registryUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllProject" type="ns0:removeAllProject"/>
<xs:complexType name="removeAllProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllProjectResponse" type="ns0:removeAllProjectResponse"/>
<xs:complexType name="removeAllProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllTaskByUserId" type="ns0:removeAllTaskByUserId"/>
<xs:complexType name="removeAllTaskByUserId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllTaskByUserIdResponse" type="ns0:removeAllTaskByUserIdResponse"/>
<xs:complexType name="removeAllTaskByUserIdResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeProject" type="ns0:removeProject"/>
<xs:complexType name="removeProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="id" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeProjectResponse" type="ns0:removeProjectResponse"/>
<xs:complexType name="removeProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeTask" type="ns0:removeTask"/>
<xs:complexType name="removeTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="id" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeTaskResponse" type="ns0:removeTaskResponse"/>
<xs:complexType name="removeTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="showAllProject" type="ns0:showAllProject"/>
<xs:complexType name="showAllProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "showAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="showAllProjectResponse" type="ns0:showAllProjectResponse"/>
<xs:complexType name="showAllProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "showAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="projectDTO" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateAdminSession" type="ns0:validateAdminSession"/>
<xs:complexType name="validateAdminSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "validateAdminSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateAdminSessionResponse" type="ns0:validateAdminSessionResponse"/>
<xs:complexType name="validateAdminSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "validateAdminSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateSession" type="ns0:validateSession"/>
<xs:complexType name="validateSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "validateSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateSessionResponse" type="ns0:validateSessionResponse"/>
<xs:complexType name="validateSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "validateSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
</xs:schema>