server/docs/apidocs/ns3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://endpoint.tm.kravchenko.ru/"
  xmlns:ns3="http://endpoint.tm.kravchenko.ru/"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ns2.xsd"/>

<xs:element name="authorization" type="ns3:authorization"/>
<xs:complexType name="authorization">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "authorization".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="password" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="authorizationResponse" type="ns3:authorizationResponse"/>
<xs:complexType name="authorizationResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "authorization".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="closeSession" type="ns3:closeSession"/>
<xs:complexType name="closeSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "closeSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="session" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="closeSessionResponse" type="ns3:closeSessionResponse"/>
<xs:complexType name="closeSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "closeSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="createProject" type="ns3:createProject"/>
<xs:complexType name="createProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "createProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="createProjectResponse" type="ns3:createProjectResponse"/>
<xs:complexType name="createProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "createProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="createTask" type="ns3:createTask"/>
<xs:complexType name="createTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "createTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="projectId" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="createTaskResponse" type="ns3:createTaskResponse"/>
<xs:complexType name="createTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "createTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="editProject" type="ns3:editProject"/>
<xs:complexType name="editProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "editProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="arg1" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="name" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="editProjectResponse" type="ns3:editProjectResponse"/>
<xs:complexType name="editProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "editProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneProject" type="ns3:findOneProject"/>
<xs:complexType name="findOneProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "findOneProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="arg1" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneProjectResponse" type="ns3:findOneProjectResponse"/>
<xs:complexType name="findOneProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "findOneProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="projectDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneTask" type="ns3:findOneTask"/>
<xs:complexType name="findOneTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "findOneTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="arg1" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="findOneTaskResponse" type="ns3:findOneTaskResponse"/>
<xs:complexType name="findOneTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "findOneTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="taskDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getAllTaskByUserId" type="ns3:getAllTaskByUserId"/>
<xs:complexType name="getAllTaskByUserId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getAllTaskByUserIdResponse" type="ns3:getAllTaskByUserIdResponse"/>
<xs:complexType name="getAllTaskByUserIdResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="taskDTO" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoHost" type="ns3:getInfoHost"/>
<xs:complexType name="getInfoHost">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getInfoHost".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoHostResponse" type="ns3:getInfoHostResponse"/>
<xs:complexType name="getInfoHostResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getInfoHost".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoPort" type="ns3:getInfoPort"/>
<xs:complexType name="getInfoPort">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getInfoPort".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="getInfoPortResponse" type="ns3:getInfoPortResponse"/>
<xs:complexType name="getInfoPortResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getInfoPort".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getListSession" type="ns3:getListSession"/>
<xs:complexType name="getListSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getListSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getListSessionResponse" type="ns3:getListSessionResponse"/>
<xs:complexType name="getListSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getListSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="session" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getUser" type="ns3:getUser"/>
<xs:complexType name="getUser">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "getUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="getUserResponse" type="ns3:getUserResponse"/>
<xs:complexType name="getUserResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "getUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="user" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="logout" type="ns3:logout"/>
<xs:complexType name="logout">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "logout".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="logoutResponse" type="ns3:logoutResponse"/>
<xs:complexType name="logoutResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "logout".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="openSession" type="ns3:openSession"/>
<xs:complexType name="openSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "openSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="openSessionResponse" type="ns3:openSessionResponse"/>
<xs:complexType name="openSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "openSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="registryUser" type="ns3:registryUser"/>
<xs:complexType name="registryUser">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "registryUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="login" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="password" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="registryUserResponse" type="ns3:registryUserResponse"/>
<xs:complexType name="registryUserResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "registryUser".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllProject" type="ns3:removeAllProject"/>
<xs:complexType name="removeAllProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllProjectResponse" type="ns3:removeAllProjectResponse"/>
<xs:complexType name="removeAllProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllTaskByUserId" type="ns3:removeAllTaskByUserId"/>
<xs:complexType name="removeAllTaskByUserId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeAllTaskByUserIdResponse" type="ns3:removeAllTaskByUserIdResponse"/>
<xs:complexType name="removeAllTaskByUserIdResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeAllTaskByUserId".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeProject" type="ns3:removeProject"/>
<xs:complexType name="removeProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="projectId" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeProjectResponse" type="ns3:removeProjectResponse"/>
<xs:complexType name="removeProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeTask" type="ns3:removeTask"/>
<xs:complexType name="removeTask">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "removeTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="arg1" type="xs:string" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="removeTaskResponse" type="ns3:removeTaskResponse"/>
<xs:complexType name="removeTaskResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "removeTask".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="showAllProject" type="ns3:showAllProject"/>
<xs:complexType name="showAllProject">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "showAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="showAllProjectResponse" type="ns3:showAllProjectResponse"/>
<xs:complexType name="showAllProjectResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "showAllProject".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="return" type="projectDTO" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateAdminSession" type="ns3:validateAdminSession"/>
<xs:complexType name="validateAdminSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "validateAdminSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="arg0" type="session" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateAdminSessionResponse" type="ns3:validateAdminSessionResponse"/>
<xs:complexType name="validateAdminSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "validateAdminSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateSession" type="ns3:validateSession"/>
<xs:complexType name="validateSession">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit request wrapper for operation "validateSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="sessionDTO" type="sessionDTO" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[]]>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="validateSessionResponse" type="ns3:validateSessionResponse"/>
<xs:complexType name="validateSessionResponse">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[doc/lit response wrapper for operation "validateSession".]]>
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
  </xs:sequence>
</xs:complexType>
</xs:schema>